{{define "registration_success"}}
    {{template "header"}}
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <div class="page-header text-center">
                    <h1>{{ trans "web.registration.header_register" }}</h1>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 col-md-offset-4">
                <div class="text-success text-center lead">
                    <strong class="text-capitalize clearfix">{{ trans "success" }}!</strong>
                    {{ trans "web.registration.success_please_check_email" }}
                </div>
                <hr>
                <div class="text-center">
                    <a href="/login" type="button" class="btn btn-success">{{ trans "web.registration.button.login" }}</a>
                </div>
            </div>
        </div>
    </div>
    {{template "footer"}}
{{end}}
