.vagrant
.idea
.glide
tmp
example/client/client
vendor
_vendor-*
run.sh
coverage.txt
*.out
bin

publish/VERSION.txt

*.xml
*.test
*.zip

// Python
venv
charon.iml
charon_client.egg-info
*.pyc
publish/python/github*
publish/python/charon_client*
publish/python/charon-client*
publish/python/dist

// Java
publish/java