language: go
go:
- 1.7
services:
- docker
addons:
  postgresql: '9.3'
  code_climate:
    repo_token: 6e0f648267827e942b80676d93220b191a0cd2122e87a24be5a9eb45c680bbda
env:
  global:
  - CHAROND_POSTGRES_ADDRESS=postgres://postgres:@localhost/travis_ci_test?sslmode=disable
  - secure: SKpsbHvr6qav31iUk2Pdx0grpaCZaVDsklPZ3GJdGisrI4kt+RfiOEKpEVkXD1X5sZ7AmqAS0weQmRUv/byr1FgoD5Vzjx/WMjnW5xAupjZVeOu+QqrJ4qYDrC4ZOBGb6XQa7aFEjFYet2l/+j145e9uW8XCq7m05wPps1TtyLI=
  - secure: HdBDqrI0p78/tPTC7HC1LBpL3pgzBEZJJC55l6lsNwgttLZqhVvFtHBN5v9+GBYoKmBVIzk4oI3s+IrYMqd2suR5i1EjNQjnLewFX1OM26oy6mr9wNhjNQMHOdN7JCHfPJdpUq9AjVPIcxMRik6AdTjFDs6JnplfGUrlMbbrtaI=
install:
- make get
before_script:
- psql -c 'create database travis_ci_test;' -U postgres
script:
- make build
- make test
after_success:
- scripts/after_success.sh
notifications:
  slack:
    secure: GlbUiPiSpa05wDHorgk+uOmupZ0kNNcaoGaJehhPRKrD6NZRgLr9bjrQgzHOKxZqgbK98l4aGPsCCJXtIw5bUrXu/Si7AaxzE4qP74FUnzpXkXxUxqexV+DAvI3WuPaqho7NXkqMs+EvYj/roM+ieuZ47jM2noPpPvLbw7Vp8CE=
