<?xml version="1.0"?>
<config>
  <server>
    <host>0.0.0.0</host>
    <port>8080</port>
  </server>
  <database>
      <adapter>postgres</adapter>
      <connection-string>postgres://login:password@localhost/auth-service?sslmode=disable</connection-string>
  </database>
  <logger>
      <adapter>console</adapter>
      <level>5</level>
  </logger>
  <templates>
    <path>template</path>
  </templates>
  <email>
    <type>smtp</type>
    <host>localhost</host>
    <username>test</username>
    <password>test</password>
    <port>25</port>
    <from>company-email@localhost</from>
  </email>
  <password>
     <strategy>bcrypt</strategy>
     <bcrypt-options>
         <cost>12</cost>
     </bcrypt-options>
  </password>
</config>
