<?xml version="1.0"?>
<config>
    <domain>example.com</domain>
    <server>
        <host>0.0.0.0</host>
        <port>9002</port>
        <tls>false</tls>
        <cert-file></cert-file>
        <key-file></key-file>
    </server>
    <database>
        <adapter>postgres</adapter>
        <connection-string>postgres://username:password@localhost/charon?sslmode=disable</connection-string>
    </database>
    <logger>
        <adapter>console</adapter>
        <level>5</level>
    </logger>
    <templates>
        <path>data/template</path>
    </templates>
    <translation>
        <default-lang>en</default-lang>
        <strategy>csv</strategy>
    </translation>
    <email>
        <type>smtp</type>
        <host>smtp.gmail.com</host>
        <username>username</username>
        <password>password</password>
        <port>25</port>
        <from>fake@gmail.com</from>
    </email>
    <password>
        <strategy>bcrypt</strategy>
        <bcrypt-options>
            <cost>12</cost>
        </bcrypt-options>
    </password>
    <routing>
        <base-url>localhost:8080</base-url>
        <routes>
            <route>
                <name>registration_index</name>
                <pattern>/registration</pattern>
            </route>
            <route>
                <name>registration_success</name>
                <pattern>/registration/success</pattern>
            </route>
            <route>
                <name>registration_confirmation</name>
                <pattern>/registration/confirmation/:userId/:confirmationToken</pattern>
            </route>
        </routes>
    </routing>
</config>
