{{define "registration_success"}}
    {{template "header"}}
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-lg-offset-3">
                <div class="page-header text-center">
                    <h1>Registration</h1>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-lg-offset-4">
                <div class="alert alert-success">
                    Success! Please check your email.
                </div>
                <hr>
                <div class="text-center">
                    <button type="submit" class="btn btn-success">Log in</button>
                </div>
            </div>
        </div>
    </div>
    {{template "footer"}}
{{end}}
